<div class="container mt-4">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:3000/admin/attendance">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:3000/admin/add">Add Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:3000/allrecords">Attendance Records</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">LOGOUT</a>
        </li>
      </ul>
      
      <form class="form-inline my-2 my-lg-0" method="get">
  
</form>
    </div>
  </nav>

  <% if flash[:alert] %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= flash[:alert] %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>

  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th>Student Name</th>
        <th>Time In</th>
        <th>Time Out</th>
        <th>Purpose</th>
      </tr>
    </thead>
    <tbody>
      <% @records.each do |student| %>
        <% student.s_attendances.each do |attendance| %>
          <% attendance.activities.each do |activity| %>
            <tr>
              <td><%= student.name %> <%= student.lastname %></td>
              <td><%= attendance.time_in %></td>
              <td><%= attendance.time_out %></td>
              <td><%= activity.reason %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible fade show" role="alert">
    <%= value %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
